/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

//breakpoint
$breakpointOfMobile:450;

//mixin for media query
@mixin respond-to($breakpoint)
{
	@media (min-width:$breakpoint+px)
	{
		@content;
	}
}

html,body
{
	height:100%;
	font-family: "Raleway", helvetica, sans-serif;
	font-size:10px;
	-webkit-font-smoothing: antialiased;
	background-color:#c8dce5;
}

/*headerpart*/
header
{
	padding:2.6rem 5rem;
	vertical-align:middle;
	font-size:1.8rem;
	overflow:hidden;
	text-align: center;  /*center in mobile version*/
	@include respond-to($breakpointOfMobile)
	{
		text-align: left;  
	}

	h1
	{
		display: inline-block;
		vertical-align:middle;
		margin-bottom:2.6rem;

	}

	span
	{
		@include respond-to($breakpointOfMobile)
		{
			float:right;
		}
		
		display: inline-block;
		vertical-align: middle;
		font-family: "helvetica",sans-serif;
		color: #002551;
		line-height: 4.4rem;


	}
	button
	{
		@include respond-to($breakpointOfMobile)
		{
			float:right;
			margin-left:3rem;
		}
		
		display: inline-block;
		vertical-align: middle;
		
		padding:1.4rem 2.3rem;
		background-color:#76a858;
		border-style: none;
		
		font-size:1.6rem;
		color: #ffffff;
		@include border-radius(4px);
	}
}

/*main content*/
.main-body
{
	width:100%;
	margin:0 auto;
	background-color:#ffffff;
	@include respond-to($breakpointOfMobile)
	{
		width: 1000px;
	}
}
.video
{
	display:block;
	position:relative;
	padding-bottom:55%;
	height:0;
	
	font-size:0;
	overflow:hidden;

}
iframe
{
	
	position:absolute;
	vertical-align:text-bottom;
	top:0;
	left:0;
	width:100%;
	height:100%;
	@include respond-to($breakpointOfMobile)
	{
		
	}
}

/*sticky bar*/
#sticky-bar
{
	text-align:center;
	color:#ffffff;
	padding:1.8rem;
	background-color:#4096b5;
	font-size:3rem;
	font-weight:400;
}

.fixedBar
{
	
	position:fixed;
	width:100%;
	top: 0;
	box-sizing:border-box;
	@include respond-to($breakpointOfMobile)
	{
		width: 1000px;
	}

}

.intro-wrapper
{
	padding:0 10px;
	
	font-size:1.8rem;
	line-height:1.5;
	@include respond-to($breakpointOfMobile)
	{
		padding:0 52px;
	}

	section
	{
		padding:64px 12px;
		border-bottom-style:solid;
		border-bottom-width:2px;
		border-bottom-color:#767676;
		overflow: hidden;
		
		&:last-of-type
		{
			border-bottom-style:none;
		}
		div
		{
			margin-bottom:20px;
			@include respond-to($breakpointOfMobile)
			{
				width:430px;
				margin: 0;
			}
		}
		p
		{
			margin-top:3.6rem;
		}

		img
		{
			display: block;
			width: 96%;
			margin:0 auto;

			@include respond-to($breakpointOfMobile)
			{
				margin:0;
				width: 380px;
				
			}
		}
	}

	h1
	{
		font-size: 2.8rem;
		color: #4096b5;
		font-weight:500;
	}
}

/*text center align*/
.text-center
{
	text-align:center;
}

/*define the float direction of text, only needed in desktop*/
@include respond-to($breakpointOfMobile)
{
	
	div
	{
		.text-float-left &
		{
			float:left;
			margin-right:16px;
		}

		.text-float-right &
		{
			float:right;
			margin-left:16px;
		}
	}
}

/*position adjustion for icon*/
/*define the float direction of text*/
@include respond-to($breakpointOfMobile)
{
	#icon1
	{
		margin-top:100px;
	}

	#icon2
	{
		margin-top:42px;
	}

	.offset-top-margin
	{
		margin-top:26px;
	}

}

/*footer part*/
footer
{
	background-color:#4096b5;
	color:#ffffff;
	padding: 56px 10px;
	line-height:1.5;
	h1
	{
		font-size: 3.4rem;
	}

	p
	{
		font-size: 1.8rem;
	
		&+h1
		{
			margin-top: 60px;
		}
	}
}

