/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/main.scss */
html, body {
  height: 100%;
  font-family: "Raleway", helvetica, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  background-color: #c8dce5;
}

/*headerpart*/
/* line 32, ../sass/main.scss */
header {
  padding: 2.6rem 5rem;
  vertical-align: middle;
  font-size: 1.8rem;
  overflow: hidden;
  text-align: center;
  /*center in mobile version*/
}
@media (min-width: 450px) {
  /* line 32, ../sass/main.scss */
  header {
    text-align: left;
  }
}
/* line 44, ../sass/main.scss */
header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2.6rem;
}
/* line 52, ../sass/main.scss */
header span {
  display: inline-block;
  vertical-align: middle;
  font-family: "helvetica",sans-serif;
  color: #002551;
  line-height: 4.4rem;
}
@media (min-width: 450px) {
  /* line 52, ../sass/main.scss */
  header span {
    float: right;
  }
}
/* line 67, ../sass/main.scss */
header button {
  display: inline-block;
  vertical-align: middle;
  padding: 1.4rem 2.3rem;
  background-color: #76a858;
  border-style: none;
  font-size: 1.6rem;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 450px) {
  /* line 67, ../sass/main.scss */
  header button {
    float: right;
    margin-left: 3rem;
  }
}

/*main content*/
/* line 89, ../sass/main.scss */
.main-body {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 450px) {
  /* line 89, ../sass/main.scss */
  .main-body {
    width: 1000px;
  }
}

/* line 99, ../sass/main.scss */
.video {
  font-size: 0;
}

/* line 103, ../sass/main.scss */
iframe {
  display: block;
  width: 100%;
  height: 200px;
}
@media (min-width: 450px) {
  /* line 103, ../sass/main.scss */
  iframe {
    height: 556px;
  }
}

/*sticky bar*/
/* line 115, ../sass/main.scss */
#sticky-bar {
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 1.8rem;
  background-color: #4096b5;
  font-size: 3rem;
  font-weight: 400;
}

/* line 126, ../sass/main.scss */
.fixedBar {
  position: fixed;
  width: 100%;
  top: 0;
}

/* line 135, ../sass/main.scss */
.intro-wrapper {
  padding: 0 10px;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media (min-width: 450px) {
  /* line 135, ../sass/main.scss */
  .intro-wrapper {
    padding: 0 52px;
  }
}
/* line 146, ../sass/main.scss */
.intro-wrapper section {
  padding: 64px 12px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #767676;
  overflow: hidden;
}
/* line 154, ../sass/main.scss */
.intro-wrapper section:last-of-type {
  border-bottom-style: none;
}
/* line 158, ../sass/main.scss */
.intro-wrapper section div {
  margin-bottom: 20px;
}
@media (min-width: 450px) {
  /* line 158, ../sass/main.scss */
  .intro-wrapper section div {
    width: 430px;
    margin: 0;
  }
}
/* line 167, ../sass/main.scss */
.intro-wrapper section p {
  margin-top: 3.6rem;
}
/* line 172, ../sass/main.scss */
.intro-wrapper section img {
  display: block;
  width: 96%;
  margin: 0 auto;
}
@media (min-width: 450px) {
  /* line 172, ../sass/main.scss */
  .intro-wrapper section img {
    margin: 0;
    width: 380px;
  }
}
/* line 187, ../sass/main.scss */
.intro-wrapper h1 {
  font-size: 2.8rem;
  color: #4096b5;
  font-weight: 500;
}

/*text center align*/
/* line 196, ../sass/main.scss */
.text-center {
  text-align: center;
}

/*define the float direction of text, only needed in desktop*/
@media (min-width: 450px) {
  /* line 207, ../sass/main.scss */
  .text-float-left div {
    float: left;
    margin-right: 16px;
  }
  /* line 213, ../sass/main.scss */
  .text-float-right div {
    float: right;
    margin-left: 16px;
  }
}
/*position adjustion for icon*/
/*define the float direction of text*/
@media (min-width: 450px) {
  /* line 225, ../sass/main.scss */
  #icon1 {
    margin-top: 100px;
  }

  /* line 230, ../sass/main.scss */
  #icon2 {
    margin-top: 42px;
  }

  /* line 235, ../sass/main.scss */
  .offset-top-margin {
    margin-top: 26px;
  }
}
/* line 242, ../sass/main.scss */
footer {
  background-color: #4096b5;
  color: #ffffff;
  padding: 56px 10px;
  line-height: 1.5;
}
/* line 248, ../sass/main.scss */
footer h1 {
  font-size: 3.4rem;
}
/* line 253, ../sass/main.scss */
footer p {
  font-size: 1.8rem;
}
/* line 257, ../sass/main.scss */
footer p + h1 {
  margin-top: 60px;
}
